[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
prisma = "*"
requests = "*"
bs4 = "*"
python-dotenv = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --reload"
cli = "python cli.py --"
